---
layout: default
title: Blog
---
<article class="type-system-geometric">
<h1 class="gridtitle"> Posts </h1>
<p class="subtitle">The ramblings of an {{'"educated"' | smartify}} mind</p>
<div id="filter-list">
{% for cat in site.categories | sort %}
        <div class="filter-item {{cat | first |prepend: 'filter-cat-'}}">
        {{ cat | first }}</div>{% unless forloop.last %}, {% endunless %}

      <!-- </div> -->
{% endfor %}
</div>
</article>

  <div class="grid-items-lines" >
  {% for post in site.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="grid-item grid-item-big {% for cat in post.categories %} {{cat |prepend: "cat-"}} {% endfor %}">
     <article class="type-system-geometric">
    <h1 class="post-header post-title">{{ post.title }}</h1> <p class='date'>{{ post.date | date: "%b %-d, %Y" }}</p>
    <p>{{ post.excerpt | truncatewords: 25 }}</p>
     </article>
  </a>
  {% endfor %}

  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
